<% form({ method: :post },{ obj: @parameters }) do |f| %>
  <div class="grid-x grid-margin-x">
    <div class="large-12 cell">
      <%= f.input(:surname, type: :text, label: 'Фамилия', placeholder: 'Иванов')%>
    </div>
    <div class="large-12 cell">
      <%= f.input(:name, type: :text, label: 'Имя', placeholder: 'Иван')%>
    </div>
    <div class="large-12 cell">
      <%= f.input(:patronymic, type: :text, label: 'Отчество', placeholder: 'Иванович')%>
    </div>
    <div class="large-12 cell">
      <%= f.input(:cellphone, type: :text, label: 'Сотовый телефон', placeholder: '8888888888')%>
    </div>
    <div class="large-12 cell">
      <%= f.input(:homephone, type: :text, label: 'Домашний телефон', placeholder: '555555')%>
    </div>
    <div class="large-12 cell">
      <%= f.input(:address, type: :text, label: 'Адрес', placeholder: 'Москва')%>
    </div>
    <div class="large-12 cell">
      <%= f.input(:birthday, type: :date, label: 'День Рождения')%>
    </div>
    <div class="large-12 cell">
      <%= f.input(:sex, type: :select, label: 'Пол', options: SexType.all_types, add_blank: true)%>
    </div>
    <div class="large-12 cell">
      <%= f.input(:status, type: :select, label: 'Статус', options: StatusType.all_types, add_blank: true)%>
    </div>
    <div class="large-12 cell">
      <%= f.button(value: 'Добавить', class: 'button secondary') %>
      <a href="<%= notes_path %>" class="button secondary">Отмена</a>
    </div>
  </div>
<% end %>