<div class="large-12 cell">
  <a class="button secondary" href="<%= note_new_path %>">Добавить запись</a>
  <% if @notes.size == 0 %>
   <div>
    <h4 style="color:#BC8F8F; font-family: 'Caveat', cursive">В приложении нет информации о записях</h4>
   <div>
  <% else%>
    <table>
      <thead>
        <tr style="color:#000000; font-family: 'Caveat', cursive">
          <th>Фамилия</th>
          <th>Имя</th>
          <th>Cотовый телефон</th>
          <th>Доп. информация</th>
        </tr>
      </thead>
      <tbody>
       <% @notes.each do |note| %>
          <tr>
            <td><%= note.surname %></td>
            <td><%= note.name %></td>
            <td><%= note.cellphone %></td>
            <td><a href="<%= path(note) %>">Подробнее</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
  <a href="<%= home_path %> " style="font-family: 'Caveat', cursive">На домашнюю страницу</a>
</div>